---js
{
  pagination: {
    alias: "_data",
    data: "news_site",
    resolve: "values",
    size: 1
  }
}
---

<ul>
  {% for key, article in articles %}
  <li><a href="/{{ article.pageBase.slug.current }}">{{ article.pageBase.title }}</a></li>
  {% endfor %}
</ul>
